@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  height: 100vh;
}

#gameBoard{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(-45deg, #b83564, #ff6a5a, #ffb350,#b998b3, #83b8aa) no-repeat; */
  background: linear-gradient(-45deg, #db3026, #e88a25, #f9e14b,#efed89, #7abf66) no-repeat;
  background-size: 300% 300%;
  animation: backgroundAnimation 10s ease alternate infinite;
  border-bottom: 10px solid rgb(35, 117, 35);
}

.clouds{
  position: absolute;
  width: 250px;
  animation: clouds-animation 2s infinite linear;
  right: -250px;
  z-index: 1;
}

.cloud1 {
  top: 60px;

}
.cloud2 {
  top: 50px;
  animation-delay: 0.5s;
}

.star1{
  position: absolute;
  top: 25px;
  right: -80px;
  width: 80px;
  height: 80px;
  animation: star-rotate 2s infinite linear, clouds-animation 3s infinite linear;
  animation-delay: 0.7s;
  z-index: 2;
}

.star2{
  position: absolute;
  top: 150px;
  right: -80px;
  width: 80px;
  height: 80px;
  animation: star-rotate 1s infinite linear, clouds-animation 2.5s infinite linear;
  animation-delay: 1s;
  z-index: 2;
}

.star3{
  position: absolute;
  top: 90px;
  right: -80px;
  width: 80px;
  height: 80px;
  animation: star-rotate 0.7s infinite linear, clouds-animation 1.7s infinite linear;
  animation-delay: 1s;
  z-index: 2;
}

.star4{
  position: absolute;
  top: 125px;
  right: -80px;
  width: 80px;
  height: 80px;
  animation: star-rotate 0.5s infinite linear, clouds-animation 1s infinite linear;
  animation-delay: 1s;
  z-index: 2;
}

.cloud3 {
  top: 75px;
  animation-delay: 1s;
}

.cloud4 {
  top: 45px;
  animation-delay: 1.5s;
}

.cloud5{
  top: 25px;
  animation-delay: 2s;
}

#person {
  position: absolute;
  bottom: 0;
}


.villain {
  position: absolute;
  height: 80px;
  right: -180px; 
  
  bottom: 0;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.jump {
  animation: jump 700ms ease-out;
}

.scorePanel{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 3rem;
  background-color: white;
  color: black;

}

@keyframes villains-animation {
  from {
    right: -180;
  }
  to{
    right: 100%;
  }
}

@keyframes jump {
  0%{
    bottom: 0;
  }
  40%{
    bottom: 180px;
  }
  50%{
    bottom: 180px;
  }
  60%{
    bottom: 180px;
  }
  100%{
    bottom: 0;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes clouds-animation {
  from {
    right: -250;
  }
  to{
    right: 100%;
  }
}

@keyframes star-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes emerge {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}